<!DOCTYPE html>
<html>
<head>
<title>Daten</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="Style.css">
</head>
<body>

<div class="header">
  <h1>Buchladen</h1>
</div>

<div class="navbar">
  <a href="#" class="active">Mein Konto</a>
  <a href="#">Katalog</a>
  <a href="#">Warenkorb</a>
  <a href="#">Kalender</a>
  <a href="#" class="right">Abmelden</a>
</div>

<div class="topnav">
  <a href="#sort" class="active">Daten</a>
  <a href="#sort">Rechnungen</a>

  </div>
</div>

  <div class="center">
    <h2>Mein konto</h2>
    <h5>Kunden-nummer: 4738289</h5>
</div>


<div class="center">
     <h3>Lieferadresse ändern</h3>
	 <div class="form-group">
		<label for="neue adresse" th:text="#{account.password.change}">Adresse</label><br />
		<input class="form-control" type="text" th:field="*{adresse}" th:errorclass="is-invalid" required="required" />
		<br>
		<br>
	
		<button th:title="#{account.passwort.change}" class="btn btn-sm float-right">
						Ändern
					</button>
		<!-- <div th:if="${#fields.hasErrors('altespasswort')}" class="invalid-feedback" th:text="#{account.passwort.altespasswort.required}">Bitte altes Passwort eingeben</div> -->
	</div>
</div>

  <div class="center">
     <h3>Passwort ändern</h3>
	 <div class="form-group">
		<label for="altespasswort" th:text="#{account.password.change}">Altes Passwort</label><br />
		<input class="form-control" type="text" th:field="*{altespasswort}" th:errorclass="is-invalid" required="required" />
		<br>
		<br>
		<label for="Neues Passwort" th:text="#{account.password.change}">Neues Passwort</label><br />
		<input class="form-control" type="text" th:field="*{neuespasswort}" th:errorclass="is-invalid" required="required" />
		<br>
		<br>
			<label for="Neues Passwort Bestätigen" th:text="#{account.password.change}">Neues Passwort Bestätigen</label><br />
		<input class="form-control" type="text" th:field="*{neuespasswort}" th:errorclass="is-invalid" required="required" />
		<br>
		</br>
		<button th:title="#{account.passwort.change}" class="btn btn-sm float-right">
						Ändern
					</button>
		<!-- <div th:if="${#fields.hasErrors('altespasswort')}" class="invalid-feedback" th:text="#{account.passwort.altespasswort.required}">Bitte altes Passwort eingeben</div> -->
	</div>
</div>



<footer>
<br>
<br>
<br>
</footer>

</body>
</html>
